<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
    <title>Sign-UP</title>
  </head>
  <body>
  <div id="loader"></div>
    <div class="main-login-form">
      <div class="login-form-label">
        <h2>Sign UP</h2>
      </div>
      <form name="sign_up" class="login-form" method="post">
          <input maxlength="30" class="username-input" name="user_email" type="email" placeholder="Email" required/>
          <input maxlength="30" class="password-input" name="password" type="password" placeholder="password" required/>
          <input maxlength="30" class="password-input" name="conf_password" type="password" placeholder="confirm password" required/>
          <button class="login-button" type="submit">Submit</button>
      </form>
      <div class="divider">
        <div class="line"></div>
        <div class="or">Or</div>
        <div class="line"></div>
      </div>
      <button onclick="window.location.href='/';" type="submit" class="google-login-button">
        <div class="google-login-text">Sign IN</div>
      </button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script>
       {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  Swal.fire({
                      title: "Dear User",
                      text: "{{ message }}",
                      type: "{{ category }}",
                      confirmButtonColor: '#5a5562',
                      confirmButtonText: 'OK'
                  })
              {% endfor %}
          {% endif %}
       {% endwith %}
    </script>
      <script>
          // show the loader
          document.getElementById("loader").style.display = "block";

          // hide the loader after the page has loaded
          window.addEventListener("load", function() {
              document.getElementById("loader").style.display = "none";
          });
      </script>
  </body>
</html>
